#navigation {
	height: 100%;
	width: 3em;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	font-size: 16px;

	background-color: #333;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	
	transition: all 0.2s;
	will-change: width, height;
}
#navigation #hamburger {
	z-index: 15;

	order: 2;
	display: block;

	width: 3em;
	height: 3em;
	padding: 0.75em;

	color: white;
	background: inherit;
	transition: all 0.1s;
	cursor: pointer;
}
#navigation #hamburger:hover {
	background: #444;
	color: white;
}

#navigation #logo {
	width: 3em;
	height: 1.75em;
	padding: 0.45em 0;
	z-index: 1;
	background: #239572;
	flex-shrink: 0;

	order: 1;

	transition: background 0.2s;
}
#navigation #logo:hover {
	background: #2cbe92;
}
#navigation #logo img {
	width: 0.85em;
	vertical-align: top;
}

#navigation .section {
	width: 3em;
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	align-items: flex-start;

	z-index: 5;
	order: 3;
}
#navigation .section#bottom {
	margin-top: auto;
	justify-content: flex-end;
	z-index: 10;

	order: 4;
}

#navigation .section a {
	display: inline-block;

	width: 3em;
	height: 3em;
	padding: 0.75em;

	overflow: hidden;
	white-space: nowrap;

	text-align: left;

	color: white;
	background: #333;

	transition: all 0.2s;
	will-change: width, background;
}
#navigation .section a span {
	display: inline-block;
	font-size: 14px;
	margin: 0 1em 0 2em;
	vertical-align: middle;
	transform: translateX(-1em);

	font-weight: bold;

	transition: transform 0.2s;
	will-change: transform;
}
#navigation .section svg {
	display: inline-block;
	vertical-align: middle;
}
#navigation .section a:hover {
	background: #444;
	color: white;
	width: 9em;
	box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.15);
}
#navigation .section a.long:hover {
	width: 12em;
}

#navigation .section a:hover span {
	transform: translateX(0em);
}

#navigation .section a.active {
	background: #239572;
}
#navigation .section a.active:hover {
	background: #2cbe92;
	box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.15), 0px 16px 16px -16px rgba(45, 190, 146, 0.75);
}


#navigation.extended {
	width: 16em;
}
#navigation.extended .section a {
	width: 16em !important;
}
#navigation.extended .section a span {
	transform: translateX(0em);
}

@media only screen and (max-device-width : 640px) , (max-device-height : 640px) {
	#navigation {
		width: 100%;
		height: 3em;
		overflow: hidden;
		z-index: 100;
		text-align: left;
		-webkit-tap-highlight-color: rgba(34, 148, 114, 0.2);
	}
	#navigation.extended {
		width: 100%;
		height: 100%;
	}
	#navigation #logo {
		display: none;
	}
	#navigation .section {
		width: 100%;
	}

	#navigation.extended .section a {
		width: 100% !important;
	}
}

/*@media only screen and (max-device-height : 515px) {
	#navigation a {
		height: 4em;
		padding: 1em;
	}
}*/